.login-page {
    display: flex;
    height: 120vh;
    background-color: #fff;
  }
  
  .login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    width: 400px;
    padding: 3rem;
    background: white;
    border-radius: 10px;
    text-align: left;
  }
  
  .login-title {
    font-size: 3rem;
    color: #6a0dad;
    margin-bottom: 1.5rem;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1rem;
    background: #eee;
  }
  
  .login-options {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  .login-options label {
    display: flex;
    align-items: center;
  }
  
  .login-options input {
    margin-right: 5px;
  }
  
  .forgot-password {
    color: #333;
    text-decoration: none;
  }
  
  .login-btn {
    width: 100%;
    padding: 0.8rem;
    background-color: #6a0dad;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .login-btn::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #6a0dad;
    margin-top: 10px;
  }
  
  .separator {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  
  .separator span {
    margin: 0 1rem;
    font-size: 0.9rem;
    color: #6a0dad;
  }
  
  .social-logins {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
  }
  
  .google-login,
  .facebook-login {
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .google-login:hover, .facebook-login:hover {
    transform: scale(1.1);
  }
  
  .google-login img,
  .facebook-login img {
    width: 30px;
  }
  
  .login-banner {
    flex: 1;
    background: #6a0dad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 7rem;
    text-align: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    clip-path: ellipse(55% 60% at 75% 50%);
  }
  
  .login-banner h1 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-10%, -50%);
    text-align: center;
    white-space: nowrap;
  }
  
  .login-banner p {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    color:white;
    top: 60%;
    left: 65%;
    transform: translate(-15%, -90%);
    text-align: center;
    line-height: 1.4;
  }
  .login-banner h2 {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    color: white;
    top: 60%;
    left: 64%;
    transform: translate(-15%, -30%);
    text-align: inline;
    line-height: 1.4;
  }
  .highlight {
    font-family: 'Oswald', sans-serif;
    color: rgb(8, 51, 243); 
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .login-banner p strong {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.4;
  } 
  .banner-button {
    margin-top: 7rem;
    padding: 0.8rem 1.5rem;
    border: none;
    background: white;
    color: #6a0dad;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%, -50%);
  }